
/* todo o codigo sera resetado sem essas pre configuracoes. Asterisco=tudo. Box-sizing=bordar espreme o elemento */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 35px 30px;
}   

h1{
    text-align: center;
    color: gray;
    font-family:monospace;
    font-size: 40px;
    margin: 15px;
}
 
h2{ 
    color:rgb(77, 77, 77);
    font-size: 25px;
    font-family: ;
}


ul {
    list-style: none; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;


    color:rgb(77, 77, 77);
    font-size: 30px;
    font-family: monospace;
    text-align: center;

}   
  
li.color-item{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:grey;
    margin-top: 2px;;
}

.first .color1{
    background-color: #bee5d3; 
   
}
.first .color2{
    background-color: #d3c0c0;
    color:whitesmoke;
}
.first .color3{
    background-color: #8b5e83;
    color:whitesmoke;
}
.first .color4{
    background-color:#75a2b9;
    color:whitesmoke;
}

.second .color1{
   background-color:#e7e6e1;
}

.second .color2{
    background-color:#f7f6e7;
}

.second .color3{
    background-color: #f2a154;
    color:whitesmoke;
}
.second .color4{
    background-color: #314e52;
    color:whitesmoke;
}

.third .color1{
    background-color:#ff577f;
   color:whitesmoke;  
}

.third .color2{
    background-color: #ff884b;
    color:whitesmoke;
}

.third .color3{
    background-color: #ffc764;
    color:whitesmoke;
    
}
.third .color4{
    background-color: #cdfffc;
    color:grey;   
}

.fourth .color1{
    background-color:#295939;
   color:whitesmoke;  
}

.fourth .color2{
    background-color: #e9b0df;
    color:whitesmoke;
}

.fourth .color3{
    background-color:#adeecf;
    color:whitesmoke;   
}
.fourth .color4{
    background-color: #e8efeb;   
}


.fifth .color1{
    background-color:#dddddd;
}

.fifth .color2{
    background-color: #222831;
    color:whitesmoke;
}

.fifth .color3{
    background-color:#30475e;
    color:whitesmoke;
    
}
.fifth .color4{
    background-color:#f05454;
    color:whitesmoke;  
}
